@charset "utf-8";
/* CSS Document */
*{
margin:0;
padding:0;
}
#head{
width:100%;
height:30px;
background-color:#ffffff;
color:gray;
font-size:14px;
line-height:30px;
}
#left,#right{
position:absolute;
}
#right{
right:0;
}
#headLeft,#headRight{
width:200px;
height:30px;
}
.headSpan{
padding:5px;
margin:5px;
}
#shopCarNum{
color:#c82828;
}
#search{
position:relative;
width:100%;
height:100px;
background-color:#c82828;
color:white;
}
#logoDiv{
position:absolute;
background-color:#c82828;
}
#inputDiv{
position:absolute;
top:34px;
}
#inputDiv img{
vertical-align:middle;
}
#input{
width:200px;
height:25px;
}

#searchList{
list-style:none;
width:1000%;
height:30px;
}
#searchDiv{
positon:relative;
width:1000px;
left:295px;
height:30px;
bottom:0;
}
#searchList li{
width:100px;
color:white;
text-align:center;
float:left;
}

#searchList li img{
width:20px;
height:20px;
}
#content{
position:relative;
width:1000px;
height:500px;
}
#sort{
width:20%;
height:500px;
float:left;
}
#sortList{
list-style:none;
}
#sortList li{
width:2s00px;
height:50px;
text-align:center;
line-height:50px;
border-bottom:1px solid #CCCCCC;
}
#ad{
position:relative;
float:left;
width:70%;
height:500px;
}
#ad ul li{
position:relative;
top:492px;
left:490px;
float:left;
margin:5px;
width:15px;
height:15px;
padding:2px;
font-size:12px;
border-radius:10px;
text-align:center;
color:gray;
}
#searchList li:hover{
  text-decoration: underline;
  cursor:pointer;
}
.headSpan{
	color:gray;
	text-decoration:none;
}
